<style media="screen">
  #example {
    table-layout: fixed;
    width: 100%;
    font-size: 9px;
  }
</style>

<h1>TABLE:</h1>

<table id="example">
  <thead>
    <tr>
      <% @attributes.each_with_index do |att, i| %>
  			<th> <%= @attributes[i] %> </th>
      <% end %>
    </tr>
	</thead>
  <tbody>
      <% @envelopes.each_with_index do |env| %>
      <tr>
        <% @attributes.each_with_index do |att, i| %>
    			<th> <%= env[@attributes[i]] %> </th>
        <% end %>
      </tr>
      <% end %>
	</tbody>
</table>
