<head>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <link rel=”stylesheet” type=”text/css” href=”/style.css” />
  <link rel=”stylesheet” type=”text/css” href=”/style2.css” />
</head>

<h1>TABLE:</h1>

<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <% @attributes.each_with_index do |att, i| %>
  			<th> <%= @attributes[i] %> </th>
      <% end %>
    </tr>
	</thead>
  <tbody>
		<tr>
			<td>Tiger Nixon</td>
			<td>System Architect</td>
			<td>Edinburgh</td>
			<td>61</td>
			<td>2011/04/25</td>
			<td>$320,800</td>
		</tr>
	</tbody>
</table>
