<h1>Choose the Fields You Would Like to See</h1>
<form action="/edited" method="post">
  <input type="checkbox" name="columns[]" value="in_prod"> IN PROD </input>
  <br>
  <input type="checkbox" name="columns[]" value="model"> MODEL </input>
  <br>
  <input type="checkbox" name="columns[]" value="fg_item"> FG ITEM </input>
  <br>
  <input type="checkbox" name="columns[]" value="item"> ITEM </input>
  <br>
  <input type="checkbox" name="columns[]" value="fill_count"> FILL COUNT </input>
  <br>
  <input type="checkbox" name="columns[]" value="in_sht_req"> IN SHEET REQUIREMENT </input>
  <br>
  <input type="checkbox" name="columns[]" value="net_reqd"> NET REQD </input>
  <br>
  <input type="checkbox" name="columns[]" value="available"> AVAILABLE </input>
  <br>
  <input type="checkbox" name="columns[]" value="avail_shts"> AVAILABLE SHEETS </input>
  <br>
  <input type="checkbox" name="columns[]" value="whs_avail_now"> WAREHOUSE AVAILABLE NOW </input>
  <br>
  <input type="checkbox" name="columns[]" value="this_id"> THIS ID </input>
  <br>
  <input type="checkbox" name="columns[]" value="linked_to_id"> LINKED_TO ID </input>
  <br>
  <input type="checkbox" name="columns[]" value="ship_whse"> SHIP WAREHOUSE </input>
  <br>
  <input type="checkbox" name="columns[]" value="make_whse"> MAKE WAREHOUSE </input>
  <br>
  <input type="checkbox" name="columns[]" value="planned_env"> PLANNED ENVELOPES </input>
  <br>
  <input type="checkbox" name="columns[]" value="outs"> OUTS </input>
  <br>
  <input type="checkbox" name="columns[]" value="uses_safety_stock"> USES SAFETY STOCK </input>
  <br>
  <input type="checkbox" name="columns[]" value="lined_type"> LINED TYPE </input>
  <br>
  <input type="checkbox" name="columns[]" value="e_date"> E DATE </input>
  <br>
  <input type="checkbox" name="columns[]" value="scenario"> SCENARIO </input>
  <br>
  <input type="checkbox" name="columns[]" value="note"> NOTE </input>
  <br>
  <input type="submit" name="submit" value="View Table">
</form>
