<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <link rel=”stylesheet” type=”text/css” href=”/style.css” />
  <link rel=”stylesheet” type=”text/css” href=”/style2.css” />
</head>
<body>

<%= yield %>

</body>
</html>
